
h1{
text-align:center;
font-weight:bold;
}
h2
{
text-align:center;
font-weight:bold;

}
p
{
font-family:"Times New Roman";
font-size:20px;
text-align:center;

}

.background
{background-color:#FFFFFF;}